.HamburgerMenu {
    z-index: 1000;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 2px solid #eee;
    border-radius: 5px;
}

.TheBurger {
    width: 30px;
    height: 4px;
    background: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all .5s ease-in-out;
}

.TheBurger::before,
.TheBurger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all .5s ease-in-out;
}

.TheBurger::before {
    transform: translateY(-10px);
}

.TheBurger::after {
    transform: translateY(10px);
}

// Animation

.HamburgerOpen {
    border: none;
    transition: all .5s ease-in-out;
}

.HamburgerOpen .TheBurger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.HamburgerOpen .TheBurger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.HamburgerOpen .TheBurger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}