.MainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    user-select: none;
}

.MainPageBGSection {
    position: absolute;
    top:0;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/new12.jpg");
    background-position: center;
    background-size: cover;
}


.MainPageBottomText {
    color: white;
    padding-right: 5vw;
    bottom: 30vh;
    right: 0;
    width: 50%;
    text-align: right;
    position: absolute;
    top: 72vh;
    font-size: 32px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-backface-visibility: hidden;

    p {
        padding-top: 20px;
        color: white;
        font-size: 18px;
    }
}

.PageHeader {
    position: absolute;
    left: 50px;
    top: 50px;
    color: white;
    font-size: 48px;
}