.ContactPage {
    height: 100vh;
    width: 100%;
    background-color: rgba(14,22,24,255);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.BostonStrip {
    width: 100%;
    height: 30%;
    background-image: url("../../assets/new13.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BostonStripFilterSection {
    width: 100%;
    height: 100%;
    background-color: rgba(146, 20, 22, 0.5);
    filter: grayscale(50%);
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BostonContactText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.ContactHeaderGrid {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 25px;
}

.ContactHeaderText {
    color: white;
    font-size: 26px;
    padding-top: 20px;
}

.ContactPageHeaderText {
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
    width: 100vw;
    color: white;
    padding-top: 15vh;
    font-size: 36px;
    letter-spacing: 2px;
    user-select: none;
}

.VegasStrip {
    width: 100%;
    height: 30%;
    background-image: url("../../assets/new14.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.VegasStripFilterSection {
    width: 100%;
    height: 100%;
    background-color: rgba(14,22,244, 0.4);
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.VegasContactText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.ContactItem {
    color: white;
    padding-top: 15px;
}

.AddressItem {
    color: white;
}

.ContactPageBottomMargin {
    height: 10vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 3vh;
    padding-top: 1vh;
    font-size: 8px;
    font-family: 'Noto Serif JP', serif;

    p {
        font-size: 14px;
        padding-bottom: 5px;
    }
}