.Navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 400;
    position: fixed;
}

.LogoHomeLink {
    z-index: 401;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.Hamburger {
    padding-top: 50px;
    padding-right: 50px;
    position: fixed;
    top: 0;
    right:0;
    z-index: 100;
}

.PageHeader {
    z-index: 401;
    color: white;
    font-size: 48px;
}

.MenuChoicesGroup {
    position: absolute;
    top: 70px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.HamburgerNavLink {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
}

.MenuChoice {
    color: white;
    text-align: center;
    padding-top: 0;
}

// .MenuChoice1 {
//     padding-right: 5%;
// }

// .MenuChoice2 {
//     padding-right: 5%;
//     padding-left: 5%;
// }

// .MenuChoice3 {
//     padding-left: 5%;
// }

.fade-in {
    transition: opacity .5s ease-in-out;
    height: auto;
}

.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: visibility .5s, opacity .5s ease-in-out;
}

.is-selected-option {
    position: fixed;
    padding-left: 0;
    padding-right: 0;
    top: 20vh;
}