.ServicesPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgba(14,22,24,255);
}

.ServicesPageBGSection {
    width: 100%;
    min-height: 35vh;
    background-image: url("../../assets/new11.jpg");
    background-position: bottom;
    background-size: cover;
}

.HeaderGrid {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.ServicesPageBGFilterSection {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(14,22,24, 0.7);
    filter: grayscale(100%);
    background-position: bottom;
    background-size: cover;
}

.ServicesPageHeaderText {
    padding-top: 85px;
    font-size: 36px;
    letter-spacing: 2px;
    user-select: none;
    display: flex;
    justify-content: center;
}

.Shadow {
    position: fixed;
    top: 0px;
    height: 200px;
    width: 100%;
    left: 0;
    z-index: 25;
    background: linear-gradient(to bottom, rgb(25,25,25), transparent);
}

.ServicesPageContent {
    width: 100%;
    min-height: 60%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: scroll;
    padding: 5%;
}

.CircleSection {
    padding-top: 5%;
}

.CircleItemGrid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.CircleItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Circle {
    border: 2px solid white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
}

.CircleFilter {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.CircleFilterActive {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.Circle1 {
    background-image: url("../../assets/new5.jpg");
    background-size: cover;
}

.Circle2 {
    background-image: url("../../assets/new4.jpg");
    background-size: cover;
}

.Circle3 {
    background-image: url("../../assets/new3.jpg");
    background-size: cover;
}

.Circle4 {
    background-image: url("../../assets/new8.jpg");
    background-size: cover;
}

.CircleText {
    color: white;
    text-align: center;
    width: 80%;
    padding-top: 15px;
    opacity: 1;
}

.fade-in {
    transition: opacity .5s ease-in-out;
    height: auto;
}

.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: visibility .5s, opacity .5s ease-in-out;
}